html,
body {
  width: 100%;
  height: 100%;
}

body {
  position: relative;

  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px; 
  font-weight: bold;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
  overflow-x: hidden;
}

a {
  color: #000000;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  position: relative;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0,0,0,.5);
  background-color: #ffffff; 
}

.container {
  width: 1056px;
  margin: 0 auto;
}


.button {
  display: inline-block;
  
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

.page-header {
  background-color: #ffffff;
}

.page-header-logo  {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
  

.site-navigation {
 display: flex;
 justify-content: space-between;
 align-items: center;
 min-height: 55px;
 padding: 0;
 margin: 0;
}

.site-navigation li:nth-child(2) {
  margin-right: 240px;
}

.site-navigation li:nth-child(3) {
  margin-right: 15px;
  word-spacing: 3px;
}

.site-navigation,
.feauters-list {
  list-style: none;
}

.site-navigation-link {
  font-size: 14px;
  line-height: 26px;
  color: #000000; 
}

.site-navigation-link:hover {
  color: #81b3d2;
}

.site-navigation-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-link.active {
  color: #766357; 
}

.promo-first {
  width: 100%;
  min-height: 508px;
  background-image: url("../img/decor/intro-mask.svg"), url("../img/background/bg.jpg");
  background-position: 0% 101%, center 28.5%;
  background-repeat: no-repeat;
  background-size: auto, cover;
}

.promo-first img {
  position: relative;
  left: 370px;
  top: 77px;
}

.header-promo {
  width: 576px;
  margin: 60px auto 51px auto;
  padding: 0;
}
        
.header-title {
  text-align: center;
  font-size: 21px;
  margin-bottom: 26px;
}

.title-promo {
  margin-top: 29px;
  margin-bottom: 50px;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.advantage-item {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantage-image img {
  width: 600px;
  height: 256px;
}

.blue {
  width: 400px;
  padding-top: 48px;
  text-align: center;
  background: #81b3d2;
  color: white;
}

.blue h3 {
  width: 160px;
  margin: 0 auto;
  margin-left: 122px;
  margin-bottom: 24px;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.blue p {
  width: 303px;
  padding-left: 5px;
  padding-bottom: 21px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  font-weight: 400;
}

.feature-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ffffff;
}

.feature-item  {
  width: 400px;
  text-align: center;
}

.feature-item h4 {
  position: relative;
  margin-top: 160px;
  padding: 0;
  font-family: "PT Sans";
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  color: #000000;
}

.feature-item p {
  width: 288px;
  margin: 0 auto;
  margin-bottom: 82px;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
}

.feature-item.house h4::before {
  content: "";
  position: absolute;
  top: -100px;
  left: 162px;
  height: 72px;
  width: 75px;
  display: block;
  background-image: url(../img/icon/house.svg);
  background-repeat: no-repeat;
}

.feature-item.food h4::before {
  content: "";
  position: absolute;
  top: -100px;
  left: 162px;
  height: 72px;
  width: 75px;
  display: block;
  background-image: url(../img/icon/food.svg);
  background-repeat: no-repeat;
}

.feature-item.gift h4::before {
  content: "";
  position: absolute;
  top: -105px;
  left: 167px;
  height: 76px;
  width: 64px;
  display: block;
  background-image: url(../img/icon/gift.svg);
  background-repeat: no-repeat;
}

.advantage-image img {
  height: auto;
  width: 100%;
  display: block;
}

.advantage-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #eeeeee;
  list-style: none;
}

.more-advantage {
  width: 400px;
  text-align: center;
  padding-bottom: 38px;
}

.more-advantage h3 {
  width: 134px;
  margin: 0 auto;
  margin-bottom: 22px;
  margin-top: 48px;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  font-weight: 700;
  color: #000000;
}

.more-advantage p {
  width: 264px;
  margin: 0 auto;
  margin-bottom: 22px;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  font-weight: 400;
  color: #333333;
}

.search-question {
  margin: 0 auto;
  margin-bottom: 24px;
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  text-align: center;
  color: #000000;
}

.search-date {
  margin-bottom: 46px;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  text-align: center;
  color: #333333;
}

/*Форма поиска*/

.search-hotel {
  position: relative;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  padding: 0 73px;
  padding-top: 50px;

  background-color: #ffffff;
}

input[type="text"] { 
  background: #f2f2f2; 
  color: #000000; 
  text-transform: uppercase;
}
input[type="text"]::-moz-placeholder {
  color: #000000;
}
input[type="text"]::-webkit-input-placeholder { 
  color: #000000; 
}
input[type="text"]:-ms-input-placeholder { 
  color: #000000;
}
input[type="text"]::-ms-input-placeholder { 
  color: #000000;
}
input[type="text"]::placeholder { 
  color: #000000;
} 

.form-header {
  height: 90px;
  padding-top: 13px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}

.form-title {
  display: block;
  width: 568px;
  height: 86px;
  background-color: #766357;
}

.form-title:hover {
  background-color: #604e43;
}

.form-title:active {
  background-color: #503e33;
}

.form-header:active {
  color: rgba(255, 255, 255, 0.3);
}

.form-search {
  position: absolute;
  z-index: 1;
  left: 316px;
  top: 289px;
  width: 512px;
  padding-top: 54px;
  padding-left: 56px;
  font: inherit;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  color: #000000;
  background-color: #ffffff;
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15); 
}

.form-body {
  border: none;
  margin: 0;
  padding: 0; 
}

.form-body p {
  border: none;
  margin: 0;
  padding: 0; 
}

.form-search-label-from,
.form-search-label-to {
  display: inline-block;
  margin-right: 18px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.form-search-field {
  position: relative;
  width: 346px;
  box-sizing: border-box;
  padding: 9px 0;
  padding-left: 14px;
  margin-bottom: 30px;
  max-height: 38px;
  font-size: 14px;
  line-height: 26px;
  font: inherit;
  background-color: #f2f2f2;
  font-size: 14px;
  font-weight: 700;
  color:  #000000;
  border:none
}

.form-search-field:hover {
  font: inherit;
  background-color: #ebebeb;
  font-size: 14px;
  font-weight: bold;
  color:  #000000;
}

.form-search-field:focus {
  font: inherit;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  color:  #000000;
  border: 2px solid #e5e5e5;
}

.form-search-calendar {
  position: relative;
  top: 6px;
  right: 42px;
  background-color: transparent;
  fill: #cacaca;
  border: none;
}

.form-search-calendar:hover {
  fill: #000000;
}

.form-search-calendar:active {
  font: inherit;
  fill: #81b3d2;
}

.humans {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 54px;
    margin-left: -2px;
    width: 458px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.humans .find-item {
    margin: 0;
    width: auto;
}

.find-item .input-number {
  -webkit-box-sizing: border-box;
        box-sizing: border-box;
    padding: 9px 0;
    margin-left: auto;
    max-height: 38px;
    width: 346px;
    text-transform: uppercase;
    font-size: 14px;
    color: #000000;
    font-weight: 700;
    background-color: #f2f2f2;
    border: 2px solid #f2f2f2;
}

.find-item .input-adults {
    margin-left: 39px;
    padding-left: 23px;
    padding-right: 23px;
    width: 114px;
    text-align: center;
}

.find-item .input-children {
    margin-left: 26px;
    padding-left: 23px;
    padding-right: 23px;
    width: 114px;
    text-align: center;
}

.find-item input:hover {
    background-color: #ebebeb;
    border: 2px solid #ebebeb;
}

.find-item input:focus { 
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
}

.find-item button {
  width: 11px;
  height: 11px;
  background-color: transparent;
  border: none;
  outline: none;
}

.minus-adult {
  position: absolute;
  top: 202px;
  left: 175px;
}

.plus-adult {
  position: absolute;
  top: 202px;
  left: 251px;
}

.minus-child {
  position: absolute;
  top: 202px;
  left: 408px;
}

.plus-child {
  position: absolute;
  top: 202px; 
  left: 483px;
}

.search-button {
  padding: 16px 0;
  margin-bottom: 58px;
  width: 458px;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
}

.search-button:hover {
  background-color: #669ec0;
}
.search-button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3)
}

.map {
  position: relative;
}
/*Футер*/

.page-footer {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 30px;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  width: 1200px;
  color: #000000;
  background-color: rgba(255, 255, 255, 0.8);
}

.footer-hashtag {
  margin-left: 22px;
  margin-top: 8px;
}

.footer-hashtag a {
  width: 136px;
  height: 16px;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.24;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  text-decoration: none;
}


.footer-social {
  margin-top: -6px;
  margin-left: -8px;

}

.social-list {
  display: flex;
}

.social-item {
  flex-shrink: 0;
}

.social-item:not(:last-child) {
  margin-right: 6px;
}

.social-button {
  display: block;
  width: 46px;
  height: 48px;
  color: #ffffff;
  background-color: #81b3d2;
  background-position: center;
  text-indent: -9999px;
}

.social-button:hover {
  background-color: #669ec0;
  color: #ffffff;
}

.social-button:active {
  background-color: #5496bd;
  color: #ffffff;
  opacity: 0.3;
}

.button-tw {
  background-image: url(../img/icon/twitter.svg);
  background-repeat: no-repeat;
}

.button-fb {
  background-image: url(../img/icon/fb-icon.svg);
  background-repeat: no-repeat;
}

.button-yt {
  background-image: url(../img/icon/youtube.svg);
  background-repeat: no-repeat;
}

.footer-social ul {
  list-style: none;
  margin: 0;
}

.footer-coryright  {
  margin-right: -10px;
}

.footer-coryright span {
  display: inline-block;
  padding-top: 10px;
  width: 86px;
  height: 11px;
  vertical-align: top;
  font-family: PTSans;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.86;
  letter-spacing: normal;
 

  color: #000000;
}

/*Страница отелей*/

.form-hotels {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.filter {
  padding-top: 29px;
  padding-left: 72px;
  padding-bottom: 8px;
  background-image: url(../img/background/filter-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
} 

.filter-col,
.filter-range-field {
  margin: 0;
  padding: 0;
  border: none;
  color: #ffffff;
}

.filter-col  {
 margin-right: 118px;
}

.filter-col ul,
.hotel-sort ul {
  margin: 0;
  padding: 0;
}

.filter-col-infrastructure,
.filter-col-house {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.infrastructure li,
.house li {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.filter-option {
  margin-left: 40px;
  margin-bottom: 25px;
}

input[type="checkbox"] {
  display: none
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -39px;
  top: 0;
  width: 25px;
  height: 25px;
  background-image: url("../img/icon/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:not(:disabled) + label:hover::before {
  content: "";
  position: absolute;
  left: -39px;
  top: 0;
  width: 25px;
  height: 25px;
  background-image: url("../img/icon/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked:disabled + label::before {
  content: "";
  position: absolute;
  left: -39px;
  top: 0;
  width: 25px;
  height: 25px;
  background-image: url("../img/icon/checkbox-disabled.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox::checked + label::before {
  content: "";
  position: absolute;
  left: -39px;
  top: 0;
  width: 25px;
  height: 25px;
  background-image: url("../img/icon/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked:not(:disabled) + label:hover::before {
  content: "";
  position: absolute;
  left: -39px;
  top: 0;
  width: 25px;
  height: 25px;
  background-image: url("../img/icon/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked:disabled + label::before{
  content: "";
  position: absolute;
  left: -39px;
  top: 0;
  width: 25px;
  height: 25px;
  background-image: url("../img//icon/checkbox-disabled.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-range-field {
  margin: 0 auto;
  margin-left: 231px;

}
.site-navigation-link.active {
  color: #766357;
}

.button-link {
  width: 115px;
  height: 41px;
  object-fit: contain;
  color: #231f20;
  text-decoration: none;
}
 
.button-link:hover, 
.button-link:focus {
  fill: #81b3d2;
}

.button-link:active {
  fill: #bdbbbc;
}

.filter-range {
  width: 320px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 32px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 31px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 80px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;

}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 79%;

}

.btn-transparent {
  display: block;
  margin: 0 auto;
  margin-right: 100px;
  padding: 6px;
  padding-left: 33px;
  padding-right: 33px;
  width: 137px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.filter-col ul,
.hotel-sort ul {
 list-style: none;
}

.hotel-sort {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 71.5px;
  padding-right: 71.5px;
  background-color: #fefefe;
  border-bottom: 1px solid #e5e5e5;
}

.hotel-sort-list {
  display: flex;
}

.hotel-sort-title {
  margin-right: 48px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: left;
  color: #000000;
}

.hotel-sort-sorting {
  margin: 0;
  margin-right: 28px;
  padding-top: 6px;
  padding-right: 10px;
  font-size: 12px;
  line-height: 18px;
  text-align: left;
  color: #000000;
}

.hotel-sort-item {
  margin-right: 34px;
}

.hotel-sort-link {
  font-size: 12px;
  line-height: 18px;
  text-align: left;
  color: rgba(0, 0, 0, 0.3);

}

.hotel-sort-link:hover {
  color: #81b3d2
}

.hotel-sort-link:active {
  color: #000000;
}

.hotel-sort-link.active {
  color: #81b3d2
}

.hotel-sort-up {
  position: absolute;
  width: 11px;
  height: 10px;
  right: 96px;
  fill: #cacaca;
}

.hotel-sort-up:hover {
  fill: #000000;
}

.hotel-sort-up:active {
  fill: #81b3d2;
}

.hotel-sort-down {
  position: absolute;
  width: 11px;
  height: 10px;
  right: 73px;
  fill: #81b3d2;
}

.hotel-sort-down:hover {
  fill: #000000;
}

.hotel-sort-down:active {
  fill: #81b3d2;
}

.hotel {
  display: flex;
  flex-direction: column;
}

.hotel-item  {
  display: flex;
  align-items: flex-start;
  width: 1056px;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 30px;
  padding-left: 73px;
  padding-right: 73px;
  border-bottom: 1px solid #e5e5e5;
}

.hotel-item img {
  display: block;
  margin-right: 30px;
  margin-top: 5px;
}

.overview {
  display: flex;
  flex-wrap: wrap;
  width: 670px;
}

.overview  h3 {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 5px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.overview > a {
  width: 100%;
  color: #000000;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.overview > a:hover,
.overview > a:focus {
  color: #81b3d2;
}

.overview a:active {
  color: #cacaca;
}

.overview  span {
  vertical-align: top;
  width: 78px;
  color: #333333;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.btn {
  display: block;
  margin: 0;
  vertical-align: top;
  padding: 3px 17px;
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.more {
  margin-right: 6px;
  margin-top: 10px;
  width: 76px;
  background-color: #81b3d2;
}

.more:hover,
.more:focus {
  background-color: #669ec0;
}

.more:active {
  color: #94b9d2;
  background-color: #5496bd;
}

.book {
  width: 108px;
  margin-top: 10px;
  background-color: #766357;
}

.book:hover,
.book:focus {
  background-color: #604e43;
}

.book:active {
  color: #928a85;
  background-color: #503e33;
}

.rating {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.rating-stars {
  height: 17px;
  margin: 0;
  margin-left: 138px;
  margin-bottom: 46px;
  background-image: url(../img/icon/star.svg);
}

.star-4 {
  width: 72px;
}

.star-3 {
  width: 54px;
}

.star-2 {
  width: 36px; 
}                               

.rating-text {
  padding: 3px 14px;
  margin: 0 auto;
  margin-left: 110px;
  color: #666666;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  background-color: #f2f2f2;
}

.inner-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 30px;
  margin: 0 auto;
  color: #000000;
  background-color: #fefefe;
}


