body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
  background-image: url("../img/background/bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 1200px 733px;
}

a {
  text-decoration: none;
}

.site-navigation {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;  	
}

.site-navigation,
.feauters-list {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #81b3d2;
}

.header-title {
  text-align: center;
  font-size: 21px;
}

.title-promo {
  font-size: 14px;
  font-weight: normal;
  text-align: center;
}

.feauters-item {
  width: 400px;
  height: 256px;
  background-color: #81b3d2;
}

.feauters-item h3, {
  font-size: 21px;
  font-weight: normal;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

.feauters-item h3 {
  font-size: 21px;
  font-weight: normal;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

.feauters-item p {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

.feauters-list h3 {
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  text-align: center;
  color: #000000;
}

.feauters-list p {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.feauters-bottom {
  background-color: #eeeeee;
}

.search-question {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  text-align: center;
  color: #000000;
}

.search-date {
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  text-align: center;
  color: #333333;
}

.form-header {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}

.form-title {
  width: 568px;
  height: 86px;
  background-color: #766357;
}

.form-title:hover {
  background-color: #604e43;
}

.form-title:active {
  background-color: #503e33;
}

.form-header:active {
  color: rgba(255, 255, 255, 0.3);
}

.form-search {
  font: inherit;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  color: #000000;
  background-color: #ffffff;
}

