html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0,0,0,.5);
  background-color: #ffffff; 
}

.container {
  width: 1056px;
  margin: 0 auto;
}

.page-header {
  background-color: #ffffff;
}

.page-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: top;
  align-content: space-around;
}

.site-navigation,
.feauters-list {
  list-style: none;
}

.site-navigation-link {
  font-size: 14px;
  line-height: 26px;
  color: #000000; 
}

.site-navigation-link:hover {
  color: #81b3d2;
}

.site-navigation-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-link.active {
  color: #766357; 
}

.promo-first {
  background-image: url("../img/decor/intro-mask.svg"), url("../img/background/bg.jpg");
  background-position: bottom center,top center;
  background-repeat: no-repeat;
  background-size: 1200px 59px,1200px 733px;
}

.header-title {
  text-align: center;
  font-size: 21px;
}

.title-promo {
  font-size: 14px;
  font-weight: normal;
  text-align: center;
}

.feauters-item {
  width: 400px;
  height: 256px;
  background-color: #81b3d2;
}

.feauters-item h3, {
  font-size: 21px;
  font-weight: normal;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

.feauters-item h3 {
  font-size: 21px;
  font-weight: normal;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

.feauters-item p {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

.feauters-list h3 {
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  text-align: center;
  color: #000000;
}

.feauters-list p {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.feauters-bottom {
  background-color: #eeeeee;
}

.search-question {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  text-align: center;
  color: #000000;
}

.search-date {
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  text-align: center;
  color: #333333;
}

.form-header {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}

.form-title {
  width: 568px;
  height: 86px;
  background-color: #766357;
}

.form-title:hover {
  background-color: #604e43;
}

.form-title:active {
  background-color: #503e33;
}

.form-header:active {
  color: rgba(255, 255, 255, 0.3);
}

.form-search {
  font: inherit;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  color: #000000;
  background-color: #ffffff;
}

.form-search-field {
  font: inherit;
  background-color: #f2f2f2;
  font-size: 14px;
  font-weight: bold;
  color:  #000000;
}

.form-search-field:hover {
  font: inherit;
  background-color: #ebebeb;
  font-size: 14px;
  font-weight: bold;
  color:  #000000;
}

.form-search-field:focus {
  font: inherit;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  color:  #000000;
  border: 2px solid #e5e5e5;
}

.number {
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.minus-button,
.plus-button {
  width: 38px;
  height: 38px;
  font: inherit;
  color: rgba(0, 1, 1, 0.15);
  background-color: #f2f2f2;
}

.minus-button:hover,
.plus-button:hover {
  color: #000000;
}

.minus-button:active,
.plus-button:active {
  color: #81b3d2;
}

.search-button {
  width: 458px;
  height: 58px;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
}

.search-button:hover {
  background-color: #669ec0;
}
.search-button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3)
}

.page-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: auto;
}

.footer-hashtag a {
  width: 136px;
  height: 16px;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.24;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  text-decoration: none;

}

.social-list {
  display: flex;
}

.social-item {
  flex-shrink: 0;
}

.social-item:not(:last-child) {
  margin-right: 6px;
}

.social-button {
  display: block;
  width: 46px;
  height: 48px;
  color: #ffffff;
  background-color: #81b3d2;
  background-position: center;
  text-indent: -9999px;
}

.social-button:hover {
  background-color: #669ec0;
  color: #ffffff;
}

.social-button:active {
  background-color: #5496bd;
  color: #ffffff;
  opacity: 0.3;
}

.button-tw {
  background-image: url(../img/icon/twitter.svg);
  background-repeat: no-repeat;
}

.button-fb {
  background-image: url(../img/icon/fb-icon.svg);
  background-repeat: no-repeat;
}

.button-yt {
  background-image: url(../img/icon/youtube.svg);
  background-repeat: no-repeat;
}

.footer-social ul {
  list-style: none;
}

.footer-coryright span {
  width: 74px;
  height: 11px;
  font-family: PTSans;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.86;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.button-link {
  width: 115px;
  height: 41px;
  object-fit: contain;
  color: #231f20;
  text-decoration: none;
}
 
.button-link:hover, 
.button-link:focus {
  fill: #81b3d2;
}

.button-link:active {
  fill: #bdbbbc;
}



